body{
  position: relative;
}

.container{
  opacity: 1;
  width: 500px;
  height:300px;
  position: relative;
  top: 27%;
  margin: auto;
  background: crimson;  
  border-radius: 20px;
  border: 5px solid lightgreen;
}

.hex-code{
  position: absolute;
  display: block;
  left: 150px;
  top: 100px;
  width: 200px;
  height: 100px;
  border-radius: 12px;
  background-color: #fff;
  font-size: 30px;
  color: aquamarine;
  background-image: radial-gradient(circle closest-corner at 60px 40px, rgb(215, 228, 36), rgba(167, 93, 216, 0.514));
}
.hex-code p {
  vertical-align: middle; 
  text-align: center;
  margin: 0;
  padding: 0;
}
header{
  width:400px;
  border: 4px solid #efefef;
  border-top-style: none;
  border-bottom: 7px groove inherit;
  border-radius: 20px;
  text-align: center;
  position: relative;
  margin: auto;
}
.hex-code:after{
  content: attr(data-text);
}

